html {
    background-color: lightgray; /* background colour */
}

.text {
    font-size: 400%;
    color: white;
    font-family: sans-serif, Arial;
    display: inline-block;   /* div class text */
    
}

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none; /* pretty much the whole HTML */
}


header {
    display: flex;
    align-items: center;
}

.nav {
    background-color: white;
    display: flex;
    justify-content: flex-end;
    margin: 0vh 0px 2vh 0px;
    padding: 2vh 0px;
}

.nav a {
    color: black;
}

.nav li {
    margin: 0px 2%;
    font-family: sans-serif, Arial;
}


section { /* changes the size and look of the section */
    display: flex;
    width: 90%;  
    margin: auto;
    flex-direction: column;
    background-color: darkgray;

}

.nav li a:hover {
    color: red;
    text-decoration: underline;
}

.logo {
    width: 18%;
}

.text:hover {
    color: black;
}

.text:visited {
    color: white;  /* This is so that it doesn't change the colour of the text to that ugly purple colour. */
}


h1 {
    text-align: center;
    font-family: sans-serif, Arial;
    color: white;
}

.e {
    background-color: lightslategray;
    width: 100%;
}

.ex {
    width: 25%;
    margin-left: 8%;
}

.ehood, .ecap {
    width: 20%;
    margin-left: 8%;
}

.x {
    background-color: darkgray;
    width: 100%;
}

.x img {
    width: 25%;
    margin-left: 15%
}

img:hover {
    opacity: 0.7;
}

.items {
    display: flex;
    flex-wrap: wrap;
    background-color: darkgray;
}


.items li {
    width: 20%;
    margin: 2%;
    text-align: center;
    
}

.items li img {
    width: 100%;
}

h2, h3, p {
    color: white;
    font-family: sans-serif, Arial;
}

h3, p {
    font-size: 150%
}

h2:hover {
    color: darkslategray;
}

.button {
    color: black;
    background-color: white;
    width: 15%;
    text-align: center;
    font-family: sans-serif, Arial;   /* for a button that uses a tags instead of the normal button used in the size calculator */
}

h4 {
    font-family: sans-serif, Arial;
}

h1, .text {
   text-shadow: 2px 2px black;
}

footer {
    color: white;
    background-color: darkgray;
    margin-top: 3%;
    font-size: 15px;
    text-align: center;
    font-family: sans-serif, Arial;
}