html {
    background-color: lightgray;
}

.text {
    font-size: 400%;
    color: white;
    font-family: sans-serif, Arial;
    display: inline-block;
    
}

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
}

.left,
.right,
.bottom,
.bottom2 {
    min-height: 200px;
    background-color: darkgray
}

header {
    display: flex;
    align-items: center;
}

.nav {
    background-color: white;
    display: flex;
    justify-content: flex-end;
    margin: 0vh 0px 2vh 0px;
    padding: 2vh 0px;
}

.nav a {
    color: black;
}

.nav li {
    margin: 0px 2%;
    font-family: sans-serif, Arial;
}

/*.left {
    width: 40%;
}*/

.right {
    width: 60%;
}

.bottom {
    width: 45%;
}

.bottom2 {
    width: 55%;
}

section {
    display: flex;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
}

.nav li a:hover {
    color: red;
    text-decoration: underline;
}

.logo {
    width: 18%;
}

.text:hover {
    color: black;
}

.text:visited {
    color: ;
}


.container {
  position: relative;
  width: 50%;
}

.image1 {
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text2 {
  background-color: red;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.image1 {
    width: 80%;
}
